@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px
}

header > h1 {
    padding-bottom: 10px;
}

header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding-top: 30px;
    margin-left: 20px;
}

section > p {

    padding: 10px 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

footer > p > a {
    text-decoration: none;
    color: white;
}